{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MJSEC Recruit</title>
    <link rel="stylesheet" href="{% static 'game/css/suika.css' %}" />
  </head>
  <body>
    <main class="game-wrapper intro-wrapper">
      <header class="game-header">
        <div>
          <h1>🍉MJSEC Recruit - Suika Challenge🍉</h1>
          <p>
            10000점 달성 시 신입부원 오픈채팅방 코드를 얻게됩니다!!
          </p>
        </div>
      </header>

      <section class="instructions">
        <h2>난이도</h2>
        <div class="boost-grid">
          <form method="post" action="{% url 'game:index' %}">
            <input type="hidden" name="score_boost" value="1" />
            <button class="boost-button" type="submit">Hard</button>
          </form>
          <form method="post" action="{% url 'game:index' %}">
            <input type="hidden" name="score_boost" value="2" />
            <button class="boost-button" type="submit">Normal</button>
          </form>
          <form method="post" action="{% url 'game:index' %}">
            <input type="hidden" name="score_boost" value="4" />
            <button class="boost-button" type="submit">Easy</button>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
